<!DOCTYPE html>
<html>
<head>
    <META charset="utf-8">
    <META http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <META http-equiv="X-UA-Compatible" content="IE=9">
    <title>发布题目</title>

    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css">
    <script src="plugins/bootstrap/js/bootstrap.js"></script>
    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/home.css">
    <!--    使用angularjs框架的双向绑定-->
    <script src="plugins/angularjs/angular.min.js"></script>


    <script type="text/javascript">

        // 定义sql模块
        var app = angular.module("sql", []);
        // 设置控制器
        app.controller("addProblemController", function ($scope, $http) {

            $scope.p = {cid: 1,hint:'默认升序排列'};
            $scope.findLoginname = function () {
                $http.get("../index/findLoginUser").success(function (resp) {
                    if (resp.success) {
                        $scope.loginName = resp.data;
                        $scope.p.cid = resp.data.cid;
                    } else {
                        console.log(resp.message);
                    }
                });
                $http.post("../teacher/findAllcategory").success(function (resp) {
                    if (resp.success) {
                        $scope.categoryList = resp.data;
                    } else {
                        alert(resp.message);
                    }
                });
            };
            // 定义方法
            $scope.add = function () {
                $http.post("../teacher/add", $scope.p).success(function (resp) {
                    if (resp.success) {
                        alert("新增成功 ")
                    } else {
                        alert(resp.message);
                    }
                });
            };
            // 定义方法
            $scope.input = function () {
                $http.post("../teacher/inputSql", $scope.p).success(function (resp) {
                    if (resp.success) {
                        // 登录成功
                        alert("您输入的sql语句符合要求")
                        $scope.p.output = resp.data;
                    } else {
                        alert(resp.message);
                    }
                });
            };
        });

    </script>
</head>
<body class="vsc-initialized" ng-app="sql" ng-controller="addProblemController  " ng-init="findLoginUser()">

<div class="everything">
    <div class="banner">
        <div class="container">
        </div>
    </div>
    <NAV class="navbar navbar-default" role="navigation">
        <DIV class="container">
            <DIV class="navbar-header">
                <BUTTON class="navbar-toggle collapsed" type="button"
                        data-toggle="collapse" data-target="#navbar-collapse"><SPAN
                        class="sr-only">Toggle navigation</SPAN> <SPAN
                        class="icon-bar"></SPAN><SPAN class="icon-bar"></SPAN><SPAN
                        class="icon-bar"></SPAN></BUTTON>
                <A class="navbar-brand" href="">主页</A>
            </DIV>
            <DIV class="collapse navbar-collapse" id="navbar-collapse">
                <UL class="nav navbar-nav">
                    <LI><A href="">学生导入</A></LI>
                    <LI><A href="">实验题目发布</A></LI>
                    <LI><A href="">学生答题情况整体分析</A></LI>
                    <LI><A href="">学生答题情况个体分析</A></LI>
                    <LI><A href="">评价反馈</A></LI>
                </UL>
                <UL class="nav navbar-nav navbar-right">
                    <LI><A href="">{{loginName}}</A></LI>
                    <LI><A
                            href="/logout">退出登录</A></LI>
                </UL>
            </DIV><!-- /.navbar-collapse -->
        </DIV><!-- /.container-fluid -->     </NAV>

    <div class="main">

        <div class="container">
            <div class="block block-success"></div>
            <div class="block-content">
                <div class="block-container form-horizontal">
                    <form action=""
                          method="post">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label">题目</label>
                            <div class="col-sm-10 form-inline">
                                <input required="required" type="text" name="code" rows="1" class="form-control"
                                       ng-model="p.title"></input>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label">实验分类</label>
                            <div class="col-sm-10 form-inline">
                                <select name="lang" class="form-control input-sm"
                                        ng-model="p.category">

                                    <option ng-repeat="category in categoryList" value="{{category.cid}}">
                                        {{category.categoryname}}
                                    </option>
                                    <!--                                    <option value="2">数据控制实验</option>-->
                                    <!--                                    <option value="3">事务实验</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">题目描述</label>
                            <div class="col-sm-7">
                                <textarea required="required" name="code" rows="10" class="form-control"
                                          ng-model="p.Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">正确SQL答案</label>
                            <div class="col-sm-7">
                                <textarea required="required" name="code" rows="5" class="form-control"
                                          ng-model="p.input"
                                          ng-mouseleave="input()"></textarea>
                            </div>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label">可能出现SQL答案</label>-->
<!--                            <div class="col-sm-7">-->
<!--                                <textarea required="required" name="code" rows="5" class="form-control"></textarea>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">提示信息</label>
                            <div class="col-sm-7">
                                <textarea required="required"  ng-model="p.hint"
                                          name="hint" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-7">
                                <button type="submit" ng-click="add()" class="btn btn-primary btn-bg">确定发布</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


</body>
</html>