<!DOCTYPE HTML>
<HTML>
<HEAD>

    <title>班级管理</title>
    <META charset="utf-8">
    <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="plugins/bootstrap/js/bootstrap.js"></script>
    <link href="plugins/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="plugins/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <!--    使用angularjs框架的双向绑定-->
    <script src="plugins/angularjs/angular.min.js"></script>
    <SCRIPT language="javascript">
        var stime = "1587958144";

        function updatetime() {
            stime++;
            var etime = new Date(parseInt(stime) * 1000);
            $("#dt").html(etime.toString("Y-m-d H:i:s"));
        }

        setInterval(updatetime, 1000);
    </SCRIPT>

    <SCRIPT>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-107784973-2');
    </SCRIPT>
    <script type="text/javascript">

        // 定义sql模块
        var app = angular.module("sql", []);
        // 设置控制器
        app.controller("proList", function ($scope, $http, $location) {
            // 添加班级
            $scope.submit = function () {
                console.log($scope.list);
                var hid = $("#selecthead option:selected").val();
                var class_name = $("#class_name").val();
                var url = "../teacher/addclasses/"+hid+"/"+class_name;
                $http.post(url).success(function (resp) {
                    if (resp.success) {
                        $scope.init();
                    } else {
                        console.log(resp.message);
                    }
                });
            };
            // 删除班级
            $scope.deleteclasses = function (classId) {
                console.log(classId);
                var id = classId.obj.classId;
                var url = "../teacher/deleteclasses/"+id;
                console.log(url);
                $http.get(url).success(function (resp) {
                    if (resp.success) {
                        alert("删除成功");
                        $scope.init();
                    } else {
                        alert(resp.message);
                    }
                });
            };
            $scope.init = function () {
                $scope.url = $location.absUrl();
                $scope.cid = $location.search()['cid'];

                $http.get("../index/findLoginUser").success(function (resp) {
                    if (resp.success) {
                        $scope.loginName = resp.data;
                        $scope.tid = resp.data.tid;
                        $.ajax({
                            type : "post",//提交方式
                            url : "../index/findallhead",//提交的路径
                            data:{"tid":$scope.tid},
                            dataType : "json",
                            cache : false,
                            success : function(result) {
                                if (result) {
                                    for(var i=0;i<result.data.length;i++){
                                        $('<option value="'+result.data[i].hid+'">'+result.data[i].hid+'</option>').prependTo("#selecthead")
                                    }
                                }
                            }
                        });

                        var url = "../teacher/findAllclasses/"+$scope.tid;
                        $http.post(url).success(function (resp) {
                            if (resp.success) {
                                // $scope.data = resp.data;
                                $scope.list = resp.data;
                            } else {
                                console.log(resp.message);
                            }
                        });

                    } else {
                        console.log(resp.message);
                    }
                });


            };

        });

    </script>
    <META content="MSHTML 11.00.10570.1001" name="GENERATOR">
</HEAD>
<BODY ng-app="sql" ng-controller="proList" ng-init="init()">
<DIV class="everything">
    <DIV class="banner">
        <DIV class="container"></DIV>
    </DIV>
    <NAV class="navbar navbar-default" role="navigation">
        <DIV class="container">
            <DIV class="navbar-header">
                <BUTTON class="navbar-toggle collapsed" data-target="#navbar-collapse"
                        data-toggle="collapse" type="button"><SPAN
                        class="sr-only">Toggle navigation</SPAN> <SPAN
                        class="icon-bar"></SPAN><SPAN class="icon-bar"></SPAN><SPAN
                        class="icon-bar"></SPAN></BUTTON>
                <A class="navbar-brand" href    ="">主页</A>
            </DIV>
            <DIV class="collapse navbar-collapse" id="navbar-collapse">
                <UL class="nav navbar-nav">
                    <LI><A href="importStudent.html">学生导入</A></LI>
                    <LI><A href="addProblem.html">实验题目发布</A></LI>
                    <LI><A href="allAnalysis.jsp">学生答题情况整体分析</A></LI>
                    <LI><A href="personalAnalysis.jsp">学生答题情况个体分析</A></LI>
                    <LI><A href="historyAnswer.html">评价反馈</A></LI>
                    <LI><A href="historyProblem.html">题目管理</A></LI>
                    <LI><A href="head.html">教学头次管理</A></LI>
                    <LI><A href="classes.html">教学班级管理</A></LI>
                    <LI><A href="student.html">学生管理</A></LI>
                </UL>
                <UL class="nav navbar-nav navbar-right">
                    <LI><A href="/updateUser.html">{{loginName.nickname}}</A></LI>
                    <LI><A
                            href="/logout">退出登录</A></LI>
                </UL>
            </DIV><!-- /.navbar-collapse -->
        </DIV><!-- /.container-fluid -->     </NAV>
    <DIV class="main">
        <SCRIPT>
            sessionUid = 0; </SCRIPT>

        <SCRIPT src=""></SCRIPT>

        <DIV class="container">
            <DIV class="row block block-success" style="padding-top: 10px;">
                <H3 class="problem-header">教学班级管理</H3>
                <DIV>
                    <table>
                        <tr>
                            <td><div class="form-group form-group-sm">
                                班级名称
                                <input type="text" value="" name="class_name" id="class_name">
                            </div>
                            </td>
                            <td><div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">头次</label>
                                <div class="col-sm-2 form-inline">
                                    <select name="selecthead" class="form-control input-sm" id="selecthead">
                                    </select>
                                </div>
                            </div>
                            </td>
                            <td><input  type="button" value="添加" ng-click="submit()"></td>
                        </tr>
                    </table>

                </DIV>
            </DIV>

            <DIV class="row">
                <TABLE class="table table-bordered table-hover">
                    <THEAD>
                    <TH class="col-md-2">教学头次</TH>
                    <TH class="col-md-2">教学班级编号</TH>
                    <TH class="col-md-3">教学班级名称</TH>
                    <TH class="col-md-1">操作</TH>

                    <!--                    {{list}}-->
                    <TBODY>
                    <TR ng-repeat="obj in list ">
                        <TD>{{obj.hid}}</TD>
                        <TD>{{obj.classId}}</TD>
                        <TD>{{obj.className}}</TD>
                        <TD><button name="delete" ng-moude="obj.classId" ng-click="deleteclasses(this)">删除</button> </TD>
                    </TR>
                    </TBODY>
                </TABLE>
            </DIV>
        </DIV>
    </DIV>
    <DIV class="footer">
        <DIV class="container">
            <DIV class="row">
            </DIV>
            <DIV class="row">
                <DIV class="col-sm-11 text-center"><SPAN id="dt"></SPAN>
                </DIV>
            </DIV>
        </DIV>
    </DIV>
</DIV>
</BODY>
</HTML>
