<!DOCTYPE HTML>

<HTML>
<HEAD>
    <META charset="utf-8">
    <META http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <META http-equiv="X-UA-Compatible" content="IE=9">
    <TITLE>教师登录</TITLE>
    <LINK href="Login_files/bootstrap.min.css" rel="stylesheet" type="text/css">
    <SCRIPT language="javascript" src="Login_files/jquery-3.0.0.min.js" type="text/javascript"></SCRIPT>

    <SCRIPT language="javascript" src="Login_files/bootstrap.min.js" type="text/javascript"></SCRIPT>
    <!--IE -->
    <SCRIPT language="javascript" src="Login_files/html5shiv.min.js" type="text/javascript"></SCRIPT>

    <SCRIPT language="javascript" src="Login_files/respond.min.js" type="text/javascript"></SCRIPT>
    <!--IE-->
    <LINK href="Login_files/home.css" rel="stylesheet" type="text/css">
    <LINK href="Login_files/base.css" rel="stylesheet" type="text/css">
    <LINK href="Login_files/login.css" rel="stylesheet" type="text/css">
    <!--    使用angularjs框架的双向绑定-->
    <script src="plugins/angularjs/angular.min.js"></script>


    <script type="text/javascript">

        // 定义sql模块
        var app = angular.module("sql", []);
        // 设置控制器
        app.controller("loginController", function ($scope,$http) {

            // 定义方法
            $scope.login = function () {
                $http.post("../teacher/login", $scope.user).success(function (resp) {
                    if (resp.success) {
                      // 登录成功
                        alert("登录成功")

                    } else {
                        alert(resp.message);
                    }
                });
            };


        });

    </script>

<BODY ng-app="sql" ng-controller="loginController">
<DIV class="everything">
    <DIV class="banner">
        <DIV class="container"></DIV>
    </DIV>

    <DIV class="main">
        <DIV class="login">
            <H2 class="text-center">SQL评测系统登录</H2>
            <FORM action="" method="post">
                <DIV class="account-input">
                    <INPUT type="text" placeholder="用户名" ng-model="user.nickname">
                </DIV>
                <DIV class="account-input">
                    <INPUT type="password" placeholder="密码" ng-model="user.password">
                </DIV>
                <BUTTON type="submit" ng-click="login()">登录</BUTTON>
            </FORM>
        </DIV>
    </DIV>

</DIV>
</BODY>
</HTML>
